* {
  outline: none !important;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: $color-primary;
  word-break: break-word;
  background-color: #ffffff;
  @include flex-column;
}

.sticky-footer {
  position: relative;
  padding-top: 1.6rem;
  flex: 1 0 auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition();

  &:hover {
    color: $color-red;
  }
}

p {
  margin: 0 0 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-red;
  padding-left: 3rem;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 3rem;
}

.reset-list {
  @include reset-list();
}

.form-control,
.form-select {
  &:focus {
    box-shadow: none;
  }
}

.ptb-30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.radius-5 {
  border-radius: .5rem;
}

.fs-14,
.form-label {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.fs-24 {
  font-size: 2.4rem;
  line-height: 3rem;
}

.fw-600 {
  font-weight: 600;
}

.transition-400 {
  @include transition();
}

.form-control,
.form-select {
  padding: 0.9rem 1.2rem;
  border-color: $color-light-gray-2;
  border-radius: .5rem;
}

.btn-submit {
  padding: 1rem 1.2rem;
  color: $color-white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
  border-radius: .5rem;
  background-color: $color-red;

  &:hover {
    background-color: $color-slightly-blue;
  }
}

.slider-main {
  .swiper-pagination-bullets {
    &.swiper-pagination-horizontal {
      top: auto;
      bottom: 5.7rem;
    }
  }
}

#scroll-top-page {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  @include square(6rem, 50%);
  background-color: $color-red;

  &:hover {
    background-color: $color-slightly-blue;
  }
}