* {
  outline: none !important;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: $color-primary;
  word-break: break-word;
  background-color: #ffffff;
  @include flex-column;
}

.sticky-footer {
  position: relative;
  padding-top: 1.6rem;
  flex: 1 0 auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition();

  &:hover {
    color: $color-red;
  }
}

p {
  margin: 0 0 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-red;
  padding-left: 3rem;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 3rem;
}

.reset-list {
  @include reset-list();
}

.form-control,
.form-select {
  &:focus {
    box-shadow: none;
  }
}

.mt-30 {
  margin-top: 3rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-55 {
  margin-bottom: 5.5rem;
}

.pt-30 {
  padding-top: 3rem;
}

.ptb-30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pb-80 {
  padding-bottom: 8rem;
}

.radius-5 {
  border-radius: .5rem;
}

.fs-14,
.form-label {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.fs-16 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-24 {
  font-size: 2.4rem;
  line-height: 3rem;
}

.fw-600 {
  font-weight: 600;
}

.transition-400 {
  @include transition();
}

.form-control,
.form-select {
  padding: 0.9rem 1.2rem;
  border-color: $color-light-gray-2;
  border-radius: .5rem;
}

.btn-submit {
  padding: 1rem 1.2rem;
  color: $color-white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
  border-radius: .5rem;
  background-color: $color-red;

  &:hover {
    background-color: $color-slightly-blue;
  }
}

.swiper {
  &.swiper-horizontal {
    .swiper-pagination-clickable {
      .swiper-pagination-bullet {
        position: relative;
        margin: 0 .9rem;
        opacity: 1;
        background-color: #CECECE;

        &.swiper-pagination-bullet-active {
          background-color: $color-white;

          &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            border: 1px solid #6F8FC9;
            @include square(1.8rem, 50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.slider-main {
  .swiper-pagination-bullets {
    &.swiper-pagination-horizontal {
      top: auto;
      bottom: 5.7rem;
    }
  }
}

#scroll-top-page {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  @include square(6rem, 50%);
  background-color: $color-red;

  &:hover {
    background-color: $color-slightly-blue;
  }
}

.title-page-line {
  padding-left: 1.2rem;
  border-left: 2px solid $color-red;
}

.pagination {
  gap: 1.5rem;

  .page-item {
    .page-link {
      padding: 7px 1.6rem;
      border-radius: 5px;
      border: 1px solid #D3D3D3;
      font-size: 1.4rem;
      font-weight: 600;
      color: $color-primary;
      background: #FFF;
      @include transition();

      &:hover {
        color: $color-white;
        border-color: $color-red;
        background-color: $color-red;
      }
    }
  }
}