<nav class="navbar navbar-main navbar-expand-lg navbar-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li>
					<a href="index.html">Trang chủ</a>
				</li>

				<li>
					<a href="order.html">Đặt hàng</a>
				</li>

				<li>
					<a href="category.html">Khuyến mãi</a>
				</li>

				<li>
					<a href="products.html">Sản phẩm</a>
				</li>

				<li>
					<a href="#">Hỗ trợ</a>
				</li>

				<li>
					<a href="#">Hướng dẫn</a>
				</li>

				<li>
					<a href="#">Đào tạo</a>
				</li>

				<li>
					<a href="#">Tin hoạt động</a>
				</li>

				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>
</nav>