<nav class="navbar navbar-header p-0 h-100">
	<ul class="reset-list d-flex">
		<li>
			<a href="index.html">Trang chủ</a>
		</li>

		<li>
			<a href="order.html">Đặt hàng</a>
		</li>

		<li>
			<a href="category.html">Khuyến mãi</a>
		</li>

		<li>
			<a href="products.html">Sản phẩm</a>
		</li>

		<li>
			<a href="#">Hỗ trợ</a>
		</li>

		<li>
			<a href="#">Hướng dẫn</a>
		</li>

		<li>
			<a href="#">Đào tạo</a>
		</li>

		<li>
			<a href="#">Tin hoạt động</a>
		</li>

		<li>
			<a href="contact.html">Liên hệ</a>
		</li>
	</ul>
</nav>