// Font Families
$font-primary: 'Inter', sans-serif;
$font-second: 'League Gothic', sans-serif;

// font size body
$font-size-body: 1.6rem;

// font size heading
$h1-font-size: 3.6rem;
$h2-font-size: 3rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

// Color
$color-primary: #000000;
$color-second: #383838;
$color-red: #EE3743;
$color-slightly-blue: #6F8FC9;
$color-dark-gray: #8a8a8a;
$color-dark-gray-2: #626262;
$color-dark-gray-3: #E8E8E8;
$color-light-gray: #DFDFDF;
$color-light-gray-2: #E1E1E1;
$color-light-gray-3: #E7E7E7;
$color-light-gray-4: #ECECEC;
$color-link: #005DFF;
$color-white: #fff;
$color-bright-blue: #3a7bf9;

// Background
$background-body: #ffffff;
$background-primary: #fafafa;
$background-second: rgba(0, 0, 0, 0.6);
$background-tertiary: #FE6032;
$background-btn: #FDCC26;
$background-hover: #E03C31;

// Border color
$border-color-primary: #ccc;
$border-color-second: rgba(206, 206, 206, 0.3);