<header class="header">
	<div class="header__top container">
		<a href="index.html" class="logo">
			<img src="@@webRoot/assets/images/logo.png" alt="logo">
		</a>

		<form class="form-search">
			<input type="text" class="form-control" name="keyword" aria-label="">

			<button type="submit" class="btn btn-search">
				<span>Tìm kiếm</span>
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</form>
	</div>
	
	<div class="header__menu container">
		@@include('../components/main-nav.html')
	</div>
</header>

