@import "../abstracts/abstracts";

.page-template-category {
  .title-page-line {
    margin-bottom: 3rem;
  }

  .posts {
    display: grid;

    @media (min-width: 1200px) {
      grid-gap: 3rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1199px) {
      grid-gap: 2rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }

  .post-item {
    .info {
      .name {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    &:first-child {
      display: grid;
      grid-gap: 3rem;
      align-items: center;

      @media (min-width: 1200px) {
        grid-column: 1 / span 3;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        grid-column: 1 / span 2;
      }

      @media (min-width: 992px) {
        grid-template-columns: 50% 1fr;
      }

      .excerpt {
        margin-bottom: 2rem;
      }
    }

    .excerpt {
      font-size: 1.4rem;
      color: $color-dark-gray-2;
    }

    &:not(:first-child) {
      border: 1px solid $color-light-gray-4;

      .thumbnail {
        padding: 1rem 1.2rem 2rem;
      }

      .info {
        padding: 1rem 2rem 2rem;
      }
    }
  }
}