@import "../abstracts/abstracts";

.products {
  &__item {
    display: grid;
    grid-gap: 3rem;

    @media (min-width: 1200px) {
      grid-template-columns: 28rem 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
      padding-bottom: 4rem;
      border-bottom: 1px solid #E9E9E9;
    }

    .info {
      &__name {
        margin-bottom: .5rem;

        @media (min-width: 992px) {
          font-size: 1.8rem;
          line-height: 3.4rem;
        }

        @media (max-width: 991px) {
          font-size: 1.6rem;
        }
      }

      &__price {
        margin-bottom: 1rem;
        font-weight: 700;
        color: $color-red;

        @media (min-width: 992px) {
          font-size: 1.8rem;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }

        span {
          ~ span {
            @media (min-width: 992px) {
              margin-left: 2rem;
            }

            @media (max-width: 991px) {
              margin-left: 1.2rem;
            }
          }
        }

        del {
          color: #7592C7;

          @media (min-width: 992px) {
            margin-left: 3rem;
          }

          @media (max-width: 991px) {
            margin-left: 2rem;
          }
        }
      }

      &__excerpts {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        color: $color-dark-gray-2;
      }

      &__action {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 1.2rem;
          font-weight: 600;
        }

        .has-bk-icon {
          padding: .8rem 3.3rem .8rem 2.6rem;
          min-height: 4.4rem;
          color: $color-white;
          text-align: center;
          border-radius: .5rem;
        }

        .link-download {
          background-color: #6F8FC9;
        }

        .link-order {
          background-color: $color-red;
        }
      }
    }
  }
}